@font-face {
  font-family: Pacifico;
  src: url(/Fonts/Pacifico-Regular.ttf);
}

@font-face {
  font-family: LuckiestGuy;
  src: url(/Fonts/LuckiestGuy-Regular.ttf);
}

h1 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
p {
  font-family: Pacifico;
  font-size: 2em; /* 1em = 100% / 1.5em = 150% / 2em = 200% / etc. */
  font-weight: bold;
  font-style: italic;
}
#p1 {
  font-family: LuckiestGuy;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
}
