h1::first-letter {
  font-size: 2em;
  font-style: italic;
}
p::first-line {
  background-color: yellow;
}
p::selection {
  color: red;
  background-color: black;
}
#fruit li::before {
  content: "✅";
}
#apple::after {
  content: "🍎";
}
#orange::after {
  content: "🍊";
}
#banana::after {
  content: "🍌";
}
#fruit li::marker {
  content: "X";
  color: blue;
  font-size: 1.2em;
}
